/*-----
RESET
-----*/

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

.container {
    background-color: #ffffff;
    max-width: 800px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 3px;
}

body {
    background-color: #f6f8f9;
    font-family: 'Roboto', sans-serif;
}

/*-----
HEADER
-----*/
header {
    background-color: #ffffff;
    padding: 10px 20px;
}

.title {
    display: inline-block;
    vertical-align: middle;
}

.logo {
    vertical-align: middle;
}

/*-----
MAIN
-----*/

.cont-pulsanti {
    padding-left: 50px;
    padding-top: 15px;
    height: 50px;
}

.button {
    height: 25px;
    font-size: 10px;
    padding: 2px 5px;
    border-radius: 6px;
    border: 1px solid;
}

.button-blue {
    width: 70px;
    padding: 5px;
    background-color: #14aaf5;
    color: #ffffff;
}

.button-white {
    width: 85px;
    background-color:#ffffff;
    color: #c4cbd0;
    border: 1px solid;
    border-color: #c4cbd0;
}

.corpo {
    max-width: 800px;
    margin: auto;
    background-color: #ffffff;
    height: 530px;
    padding-left: 50px;
    padding-top: 40px;
}

.main-titles {
    display: inline-block;
}

.circle {
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 2px solid;
    border-radius: 100%;
    line-height: 25px;
    text-align: center;
}

.task-news{
    margin-top:15px;
    margin-bottom: 40px;
}

.circle-green {
    color: #42ccb4;
    border-color: #42ccb4;
}

.subtitles {
    display: inline-block;
    font-size: 25px;
    padding-left: 8px;
}

.tag {
    display: inline-block;
    padding: 10px;
    background-color: #09a9ed;
    border-radius: 17px;
    color: #f6f8f9;
}

.sub-menu {
    margin-top: 15px;
    margin-bottom: 20px;
}

.tag-purple{
    background-color: #ab5de6;
}

.circle-red {
    border-color: #ff4444;
    color: #ff4444;
}

.tag-green {
    background-color: #2cc6ab;
}

.tag-orange {
    background-color: #ff9b00;
}
